# Directories
__pycache__/

# Specific files
FIXME
.DS_Store
condition.py

# File types
*.swp
*.msh
*.pvd
*.vtu
*.h5
*.txt
*.pdf
*.ipynb_checkpoints
*.hdf5
*.patch
*.png
*.fld
*.xyz
*.tar.gz
*.tiff
*.tap
*.pyc
*.zip
