tohoku/outputs/
tohoku/hazard/outputs/
tohoku/inversion/1d/outputs/
tohoku/inversion/box/outputs/
tohoku/inversion/radial/outputs/
tohoku/inversion/okada/outputs/
tohoku/videos/
tohoku/resources/images/
tohoku/resources/survey/
tohoku/resources/gauges/GPS_gauges/
tohoku/resources/gauges/__MACOSX/
tohoku/resources/tohoku_utm.nc
tohoku/resources/surf_zeroed_utm.nc
tohoku/resources/log
tohoku/resources/boundaries_old
tohoku/resources/boundaries_curved
tohoku/resources/meshes_old
tohoku/notebooks/plotting.ipynb
tohoku/notebooks/02-okada/*.npy
tohoku/notebooks/02-okada/old/
