tohoku/outputs/
tohoku/videos/
tohoku/resources/images/
tohoku/resources/survey/
tohoku/resources/gauges/GPS_gauges/
tohoku/resources/tohoku_utm.nc
tohoku/resources/surf_zeroed_utm.nc
tohoku/resources/log
tohoku/resources/boundaries_old
tohoku/resources/meshes_old
tohoku/run_fixed_mesh_old.py
tohoku/notebooks/plotting.ipynb
tohoku/notebooks/okada/*.npy
tohoku/notebooks/okada/old/
