box_discharge2d/outputs/
box_discharge2d/screenshots/
box_discharge2d/__pycache__/
point_discharge2d/outputs/
point_discharge2d/screenshots/
point_discharge2d/data/
point_discharge2d/__pycache__/
point_discharge2d/uniform_convergence_log
point_discharge3d/outputs/
point_discharge3d/screenshots/
point_discharge3d/__pycache__/
spacetime_ripple/outputs/
spacetime_ripple/__pycache__/
turbine_array/outputs/
turbine_array/resources/
turbine_array/screenshots/
turbine_array/resources/
turbine_array/data/
turbine_array/__pycache__/
turbine_array/stephan.py
turbine_array/stephan-noid.py
turbine_array/run.py
turbine_array/*.geo
turbine_array/admos_paper_plots.ipynb
