balzano/strip.geo
balzano/outputs/
balzano/screenshots/
balzano/videos/
balzano/__pycache__/
bubble_shear/outputs/
bubble_shear/screenshots/
bubble_shear/videos/
bubble_shear/__pycache__/
cosine_prescribed_velocity/outputs/
cosine_prescribed_velocity/screenshots/
cosine_prescribed_velocity/videos/
cosine_prescribed_velocity/__pycache__/
rossby_wave/outputs/
rossby_wave/screenshots/
rossby_wave/videos/
rossby_wave/__pycache__/
spaceship/outputs/
spaceship/screenshots/
spaceship/videos/
spaceship/__pycache__/
spaceship/nic.py
spaceship/stephan/
solid_body_rotation/outputs/
solid_body_rotation/screenshots/
solid_body_rotation/videos/
solid_body_rotation/__pycache__/
trench/mesh.geo
trench/outputs/
trench/screenshots/
trench/videos/
trench/__pycache__/
turbine_array/nic.py
turbine_array/output/
turbine_array/outputs/
turbine_array/screenshots/
turbine_array/videos/
turbine_array/__pycache__/
turbine_array/data/
turbine_array/plots/
