balzano/strip.geo
balzano/outputs/
balzano/screenshots/
balzano/videos/
balzano/__pycache__/
beach_slope/archived/
beach_slope/results/
beach_wall/archived/
beach_wall/results/
bubble_shear/plots/
bubble_shear/outputs/
bubble_shear/screenshots/
bubble_shear/videos/
bubble_shear/__pycache__/
cosine_prescribed_velocity/outputs/
idealised_desalination/TODO
idealised_desalination/data/
idealised_desalination/outputs/
idealised_desalination/plots/
idealised_desalination/resources/
idealised_desalination/screenshots/
idealised_desalination/__pycache__/
cosine_prescribed_velocity/screenshots/
cosine_prescribed_velocity/videos/
cosine_prescribed_velocity/__pycache__/
pulse_wave/archived/
pulse_wave/results/
rossby_wave/outputs/
rossby_wave/screenshots/
rossby_wave/videos/
rossby_wave/__pycache__/
spaceship/data/
spaceship/output*
spaceship/screenshots/
spaceship/videos/
spaceship/__pycache__/
spaceship/nic.py
spaceship/nic_fixed_mesh.py
spaceship/stephan/
solid_body_rotation/outputs/
solid_body_rotation/screenshots/
solid_body_rotation/videos/
solid_body_rotation/__pycache__/
trench_1d/adapt_output/
trench_1d/outputs*
trench_1d/plots/
trench_1d/results/
trench_slant/results/
turbine_array/channel*.geo
turbine_array/data/
turbine_array/nic.py
turbine_array/output/
turbine_array/outputs/
turbine_array/plots/
turbine_array/resources/
turbine_array/screenshots/
turbine_array/videos/
turbine_array/__pycache__/
