steady_turbine/outputs/
steady_turbine/screenshots/
steady_turbine/__pycache__/
unsteady_turbine/output/
unsteady_turbine/outputs/
unsteady_turbine/screenshots/
unsteady_turbine/__pycache__/
unsteady_turbine/nic.py
box_discharge2d/outputs/
box_discharge2d/screenshots/
box_discharge2d/__pycache__/
point_discharge2d/outputs/
point_discharge2d/screenshots/
point_discharge2d/__pycache__/
point_discharge3d/outputs/
point_discharge3d/screenshots/
point_discharge3d/__pycache__/
inundated_beach/outputs/
inundated_beach/screenshots/
inundated_beach/__pycache__/
rossby_wave/outputs/
rossby_wave/screenshots/
rossby_wave/__pycache__/
slotted_cylinder/outputs/
slotted_cylinder/screenshots/
slotted_cylinder/__pycache__/
